:root {
    --colorCenter: #ffc107
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Open Sans, sans-serif;
}
#logo_mobile {
    display: none;
}

.btn {
    border-radius: 25px;
    color: white;
}

.header {
    background-image: url(/img/img-banner.png);
    background-repeat: no-repeat;
    background-position: 400px 0px;
    background-size: 600px;
}

.header_1 {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: height 0.3s, font-size 0.3s; /* Hiệu ứng chuyển đổi */
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
    height: auto;

}

/* css cuộn trang cho header_1 */
.header_1.shrink {
    height: 80px; /* Chiều cao sau khi cuộn */
    font-size: 0.9em; /* Thu nhỏ font-size nếu cần */
    background-color: white;
}

.header_1.shrink img {
    width: 40%;
}

/* ------------------------------------------------- */

.header_1 img {
    width: 80%;
}

.navbar {
    border-radius: 30px;
    background-color: rgb(128, 128, 128);
    padding: 20px;
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    border-radius: 25px;
    background-color: white;
    color: var(--colorCenter);
    padding: 10px;
}

.header_2 {
    margin-top: 150px;
}

.header_2 h1 {
    font-size: 40px;
    font-weight: bold;
}

.Slogan_Brand {
    margin-top: 400px;
}

#Brand {
    color: var(--colorCenter);
    font-size: 80px;
    text-transform: uppercase;
}

.header_2_btn {
    margin-top: 40px;
}

.header_2 img {
    width: 100%;
}

.main {
    margin-top: 300px;
}

.main img {
    width: 60%;
}

.main h4{
    font-weight: bold;
    margin-bottom: 50px;
}



#name, #numberPhone  {
    border-radius: 25px;
    width: 100%;
    height: 60px;
    background-color: rgb(227, 227, 227);
}

#contentMessage{
    border-radius: 25px;
    width: 100%;
    height: 100px;
    background-color: rgb(227, 227, 227);
}


#backButton {
    border-radius: 25px;
    height: 50px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

/* repponse cho mobile 700px */
@media (max-width: 700px) {
    .header {
        display: none;
    }

    .main {
        height: 100vh;
        margin-top: 25%;
        text-align: center;
    }

    .main h4{
        font-size: 15px;
        margin-top: 10px;
    }
}